   
   
        
    <footer class=" bg-dark p-3 text-white">
        <div class="container">
            <p class="float-right"><a href="#">Back to top</a></p>
            <p>&copy; 2017 Company, Inc. </p>
        </div>
    </footer>






    <script type="text/javascript " src="js/lang.js "></script>
    <script type="text/javascript " src="js/glocal.js "></script>
    <script src="js/scrollreveal.min.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>

    <script>
        // Initialize and Configure Scroll Reveal Animation
        window.sr = ScrollReveal();
        sr.reveal('#f3', {
            duration: 2000,
            origin: 'left',
            distance: '0px'





        });
        sr.reveal('#f1', {
            duration: 2000,
            origin: 'left',
            distance: '0px'




        });
        sr.reveal('#f2', {
            duration: 2000,
            origin: 'right',
            distance: '0px'
        });
    </script>
</body>

</html>