        <footer class=" bg-dark p-3 text-white">
            <div class="container">
                <p class="float-right"><a href="#">Back to top</a></p>
                <p>&copy; 2017 Company, Inc. </p>
            </div>
        </footer>






        <script type="text/javascript " src="js/lang.js "></script>
        <script type="text/javascript " src="js/main.js "></script>
        <script src="js/scrollreveal.min.js"></script>
        <script src="js/jquery.min.js"></script>
        <script src="js/popper.min.js"></script>
        <script src="js/bootstrap.min.js"></script>


       
    </body>

</html>