<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GLocal</title>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Architects+Daughter|Cuprum|Kanit|Lobster|Roboto|Roboto+Slab|Russo+One"
        rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.css">
   <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">
</head>





<body data-spy="scroll" data-target="#navbarScroll">

    <!--Navbar-->
    <nav id="mainNav" class="navbar-default navbar p-1 fixed-top navbar-fixed-top navbar-expand-lg navbar-light bg-faded">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
        <a id="brand" class="navbar-brand" href="index.html">GLocal</a>


        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="  navbar-nav ml-auto">
                <li class="pt-3">
                    <a id="en_click" class="nav-item text-dark button_lang" value="en" href="#">English</a>
                </li>
                <li class="p-3">
                    <a id="sp_click" class="nav-item text-dark button_lang current_lang" value="es" href="#">Spanish</a>
                </li>
                
                <li class="nav-item active">
                    <a class="nav-link " href="#top">Home <span class="sr-only">(current)</span></a>
                </li>
                <li id="servdd" class="en nav-item dropdown ">
                    <a class="nav-link dropdown-toggle " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Services</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="listings.html">Digital listing Management </a>
                        <a class="dropdown-item" href="seo.html">Search engine Optimization</a>
                        <a class="dropdown-item" href="social-media.html">Social media marketing</a>
                    </div>
                </li>
                <li id="servdd" class="sp nav-item dropdown ">
                    <a class="nav-link dropdown-toggle " data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Servicios</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="listings.html">Digital listing management </a>
                        <a class="dropdown-item" href="seo.html">Search engine Optimization</a>
                        <a class="dropdown-item" href="social-media.html">Social media marketing</a>
                    </div>
                </li>
                <li class="en nav-item">
                    <a class="nav-link" href="why-glocal.html">Why GLocal</a>
                </li>
                <li class="sp nav-item">
                    <a class="nav-link" href="why-glocal.html">Porque GLocal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="websites.html">Websites</a>
                </li>
                <li class="en nav-item">
                    <a class="nav-link " href="/index.php">Contact</a>
                </li>

                <li class="sp nav-item">
                    <a class="nav-link " href="/index.php">Contacto</a>
                </li>
            </ul>
        </div>
    </nav>

  









    </head>

    <body>
